<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Flask App</title>
</head>
<body id="main">
    <a href="{{url_for('cooking_info',)}}">Cooking</a>
    <a href="{{url_for('hiking_details',)}}">Hiking</a>
    <a href="{{url_for('photography_world',)}}">Photography</a>
    <h1>Abby's Home</h1>
    <h3>Check out the rest of my pages to learn more about my hobbies! </h3>
</body>
</html>