<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="{{url_for('home',)}}">Home</a>
    <h1 id="cooking-header">Cooking</h1>
    <p>I love cooking! I developed a love for cooking while incarecated. Since being home I have rediscovered cooking in such a fun and dynamic way!</p>
    <h4>Here is a video of the latest thing i've made!</h4>
    <button onclick="cookingEmo()">Click Me!</button>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yPyiXZTi4pM?si=phr81vfoHOebrPAI&amp;start=42" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <script src="../static/js/main.js"></script>
</body>
</html>