<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <a href="{{url_for('home',)}}">Home</a>
    <h1 id="hiking-header">Hiking Page</h1>
    <p>I always used to hike before incarceration and now that I am home and appreciate sunsets and nature in such a uqnique way, Hiking is just the thing for me</p>
    <button onclick="hikingEmo()">Click Me!</button>
    <h4>The next place I want to hike!</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hT8ZMp8Ec7U?si=T0YnPy-EvEsz8UbS&amp;start=57" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    
    <script src="../static/js/main.js"></script>
</body>
</html>