<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="{{url_for('home',)}}">Home</a>
    <h1 id="photo-header">Photography Page</h1>
    <h4>The next place I'll be going is NY and will be taking many photos on that trip!</h4>
    
    <p>I love seeing life through a lens. Especially, if im the one taking the one taking the photo!</p>
    <button onclick="photoEmo()">Click Me!</button>
    <script src="../static/js/main.js"></script>
</body>
</html>